@import "tailwindcss";

/* MAIN PALETTE */
/* 
  - Warm Limestone (#F4F1EA) – A soft, off-white base that brings breathing room and natural light to spaces.
  - Muted Clay (#C87D65) – A welcoming, earthy terracotta that adds a sophisticated pop of warmth.
  - Warm Taupe (#9A8F80) – A mid-tone neutral ideal for framing spaces or adding subtle contrast.
  - Deep Charcoal (#2D3136) – A rich, dependable anchor color (softer than pure black) that communicates modern precision and trust.
*/


:root {
  --warm-limestone: #F4F1EA;
  --muted-clay: #C87D65;
  --warm-taupe: #9A8F80;
  --deep-charcoal: #2D3136;
  --background: var(--warm-limestone);
  --foreground: var(--deep-charcoal);
}

@theme inline {
  --color-light: var(--warm-limestone);
  --color-accent: var(--muted-clay);
  --color-cancel: var(--warm-taupe);
  --color-dark: var(--deep-charcoal);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-charon: var(--font-iosevka-charon);
  --font-jura: var(--font-jura);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--deep-charcoal);
    --foreground: var(--warm-limestone);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jura), Arial, Helvetica, sans-serif;
}
